.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n82dccbe7-083a-4c69-af16-2803a55d407b span#rtr-sc-82dccbe7-083a-4c69-af16-2803a55d407b_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n82dccbe7-083a-4c69-af16-2803a55d407b .scenarioScreenThumbnail {
  width: 272.0px;
  height: 170.0px;
  background-image: url("../../resources/scenarios/screens/d12245cc-1680-458d-89dd-4f0d7fb22724.png");
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n82dccbe7-083a-4c69-af16-2803a55d407b {
  position: absolute;
  left: 416.0px;
  top: 154.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n82dccbe7-083a-4c69-af16-2803a55d407b {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #td3f0179d-6b27-4cb7-8412-b332a77c0180 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #td3f0179d-6b27-4cb7-8412-b332a77c0180 .transitionNameContainer {
  left: 701.16015625px;
  top: 280.0px;
}
#td3f0179d-6b27-4cb7-8412-b332a77c0180.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#td3f0179d-6b27-4cb7-8412-b332a77c0180.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t18235c11-96f2-4a03-aa45-9d301323bbd1 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t18235c11-96f2-4a03-aa45-9d301323bbd1 .transitionNameContainer {
  left: 371.0px;
  top: 271.0px;
}
#t18235c11-96f2-4a03-aa45-9d301323bbd1.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t18235c11-96f2-4a03-aa45-9d301323bbd1.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n2387ce4f-ad4b-4793-b464-c9a3b5b30933 span#rtr-sc-2387ce4f-ad4b-4793-b464-c9a3b5b30933_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n2387ce4f-ad4b-4793-b464-c9a3b5b30933 .scenarioScreenThumbnail {
  width: 272.0px;
  height: 170.0px;
  background-image: url("../../resources/scenarios/screens/d5035b0d-1d47-4acf-beca-cb92fce32f51.png");
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n2387ce4f-ad4b-4793-b464-c9a3b5b30933 {
  position: absolute;
  left: 817.0px;
  top: 469.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n2387ce4f-ad4b-4793-b464-c9a3b5b30933 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nc3363538-28e0-45a0-a531-f918f859950a span#rtr-sc-c3363538-28e0-45a0-a531-f918f859950a_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nc3363538-28e0-45a0-a531-f918f859950a .scenarioScreenThumbnail {
  width: 272.0px;
  height: 170.0px;
  background-image: url("../../resources/scenarios/screens/8de64932-9241-49d3-8f32-e7263be08d66.png");
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nc3363538-28e0-45a0-a531-f918f859950a {
  position: absolute;
  left: 817.0px;
  top: 154.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nc3363538-28e0-45a0-a531-f918f859950a {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t2a38f19d-be40-49a6-88e3-8f79090044af .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t2a38f19d-be40-49a6-88e3-8f79090044af .transitionNameContainer {
  left: 944.0px;
  top: 394.0px;
}
#t2a38f19d-be40-49a6-88e3-8f79090044af.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t2a38f19d-be40-49a6-88e3-8f79090044af.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tce853ced-b5b1-4220-bca3-d1c974431160 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tce853ced-b5b1-4220-bca3-d1c974431160 .transitionNameContainer {
  left: 1101.5px;
  top: 277.0px;
}
#tce853ced-b5b1-4220-bca3-d1c974431160.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#tce853ced-b5b1-4220-bca3-d1c974431160.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t527b0f0d-444f-4055-8a34-1d01f1dd54c9 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t527b0f0d-444f-4055-8a34-1d01f1dd54c9 .transitionNameContainer {
  left: 781.5px;
  top: 335.0px;
}
#t527b0f0d-444f-4055-8a34-1d01f1dd54c9.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t527b0f0d-444f-4055-8a34-1d01f1dd54c9.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #teca478da-93fb-410e-94dd-b3fdc4282e3c .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #teca478da-93fb-410e-94dd-b3fdc4282e3c .transitionNameContainer {
  left: 740.5px;
  top: 160.5px;
}
#teca478da-93fb-410e-94dd-b3fdc4282e3c.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#teca478da-93fb-410e-94dd-b3fdc4282e3c.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ndb05607b-e544-491f-9e22-d07e07dc8827 span#rtr-sc-db05607b-e544-491f-9e22-d07e07dc8827_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ndb05607b-e544-491f-9e22-d07e07dc8827 {
  position: absolute;
  left: 931.0px;
  top: 379.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ndb05607b-e544-491f-9e22-d07e07dc8827 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tb51aad08-67cf-4485-bec8-ba3c3405f2c6 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tb51aad08-67cf-4485-bec8-ba3c3405f2c6 .transitionNameContainer {
  left: 941.83984375px;
  top: 484.0px;
}
#tb51aad08-67cf-4485-bec8-ba3c3405f2c6.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#tb51aad08-67cf-4485-bec8-ba3c3405f2c6.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nb3491f39-d227-4939-af3d-2f7b4daacf2b span#rtr-sc-b3491f39-d227-4939-af3d-2f7b4daacf2b_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nb3491f39-d227-4939-af3d-2f7b4daacf2b {
  position: absolute;
  left: 729.0px;
  top: 221.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nb3491f39-d227-4939-af3d-2f7b4daacf2b {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #td5fd9ecc-4183-4d77-a9d9-08d5e9e3e9de .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #td5fd9ecc-4183-4d77-a9d9-08d5e9e3e9de .transitionNameContainer {
  left: 784.0px;
  top: 280.0px;
}
#td5fd9ecc-4183-4d77-a9d9-08d5e9e3e9de.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#td5fd9ecc-4183-4d77-a9d9-08d5e9e3e9de.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n9f21f2ff-6741-4c6f-a085-5f24430dc969 span#rtr-sc-9f21f2ff-6741-4c6f-a085-5f24430dc969_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n9f21f2ff-6741-4c6f-a085-5f24430dc969 .scenarioScreenThumbnail {
  width: 272.0px;
  height: 170.0px;
  background-image: url("../../resources/scenarios/screens/94b28adc-dcb4-4a62-9a05-ea928254a266.png");
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n9f21f2ff-6741-4c6f-a085-5f24430dc969 {
  position: absolute;
  left: 0.0px;
  top: 154.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n9f21f2ff-6741-4c6f-a085-5f24430dc969 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #td3a30cdf-e46a-4113-a436-d3a68aa02b5a .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #td3a30cdf-e46a-4113-a436-d3a68aa02b5a .transitionNameContainer {
  left: 122.0px;
  top: 393.0px;
}
#td3a30cdf-e46a-4113-a436-d3a68aa02b5a.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#td3a30cdf-e46a-4113-a436-d3a68aa02b5a.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t31e6f731-36f7-4b5f-8e62-869c1faa7c26 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t31e6f731-36f7-4b5f-8e62-869c1faa7c26 .transitionNameContainer {
  left: 294.5px;
  top: 332.0px;
}
#t31e6f731-36f7-4b5f-8e62-869c1faa7c26.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t31e6f731-36f7-4b5f-8e62-869c1faa7c26.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tb6a32518-955f-4650-82f0-1b02065ecb6e .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tb6a32518-955f-4650-82f0-1b02065ecb6e .transitionNameContainer {
  left: 319.5px;
  top: 126.5px;
}
#tb6a32518-955f-4650-82f0-1b02065ecb6e.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#tb6a32518-955f-4650-82f0-1b02065ecb6e.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n0adbb334-c917-4846-8820-388f8ef34321 span#rtr-sc-0adbb334-c917-4846-8820-388f8ef34321_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n0adbb334-c917-4846-8820-388f8ef34321 {
  position: absolute;
  left: 324.0px;
  top: 213.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n0adbb334-c917-4846-8820-388f8ef34321 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t6d00148d-e840-4fbe-8605-6cb3d9d12ee8 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t6d00148d-e840-4fbe-8605-6cb3d9d12ee8 .transitionNameContainer {
  left: 284.33984375px;
  top: 272.0px;
}
#t6d00148d-e840-4fbe-8605-6cb3d9d12ee8.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t6d00148d-e840-4fbe-8605-6cb3d9d12ee8.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n7b968869-a95b-4f0a-bec8-ecb56594b416 span#rtr-sc-7b968869-a95b-4f0a-bec8-ecb56594b416_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n7b968869-a95b-4f0a-bec8-ecb56594b416 .scenarioScreenThumbnail {
  width: 272.0px;
  height: 170.0px;
  background-image: url("../../resources/scenarios/screens/c8c36729-0afa-4e3a-bda2-aa5d9a846ba2.png");
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n7b968869-a95b-4f0a-bec8-ecb56594b416 {
  position: absolute;
  left: 1200.0px;
  top: 154.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n7b968869-a95b-4f0a-bec8-ecb56594b416 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tf8d33814-d35a-4855-b2a9-3a96717434cc .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tf8d33814-d35a-4855-b2a9-3a96717434cc .transitionNameContainer {
  left: 1329.0px;
  top: 392.5px;
}
#tf8d33814-d35a-4855-b2a9-3a96717434cc.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#tf8d33814-d35a-4855-b2a9-3a96717434cc.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n33efff45-8d0e-43d0-a8d5-efcec94fca4f span#rtr-sc-33efff45-8d0e-43d0-a8d5-efcec94fca4f_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n33efff45-8d0e-43d0-a8d5-efcec94fca4f {
  position: absolute;
  left: 1123.0px;
  top: 213.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n33efff45-8d0e-43d0-a8d5-efcec94fca4f {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t84a30a25-921d-423c-bedb-f46f0d489484 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t84a30a25-921d-423c-bedb-f46f0d489484 .transitionNameContainer {
  left: 1171.33984375px;
  top: 272.0px;
}
#t84a30a25-921d-423c-bedb-f46f0d489484.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t84a30a25-921d-423c-bedb-f46f0d489484.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n08edbe6f-5802-4449-9f6c-7933ec187fff span#rtr-sc-08edbe6f-5802-4449-9f6c-7933ec187fff_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n08edbe6f-5802-4449-9f6c-7933ec187fff .scenarioScreenThumbnail {
  width: 272.0px;
  height: 170.0px;
  background-image: url("../../resources/scenarios/screens/edbae4c7-568e-4e8b-8f64-be9a0d4a198b.png");
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n08edbe6f-5802-4449-9f6c-7933ec187fff {
  position: absolute;
  left: 1200.0px;
  top: 460.5px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n08edbe6f-5802-4449-9f6c-7933ec187fff {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n8e9b63f3-ec04-43be-8148-8fce71b1f8c8 span#rtr-sc-8e9b63f3-ec04-43be-8148-8fce71b1f8c8_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n8e9b63f3-ec04-43be-8148-8fce71b1f8c8 {
  position: absolute;
  left: 1314.3203125px;
  top: 370.5px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n8e9b63f3-ec04-43be-8148-8fce71b1f8c8 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t3673fc72-fedf-4b98-9e6d-ac04338ab298 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t3673fc72-fedf-4b98-9e6d-ac04338ab298 .transitionNameContainer {
  left: 1325.0px;
  top: 478.75px;
}
#t3673fc72-fedf-4b98-9e6d-ac04338ab298.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t3673fc72-fedf-4b98-9e6d-ac04338ab298.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n1967d6fc-8075-4555-8d22-b7afacd9b76b span#rtr-sc-1967d6fc-8075-4555-8d22-b7afacd9b76b_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n1967d6fc-8075-4555-8d22-b7afacd9b76b .scenarioScreenThumbnail {
  width: 272.0px;
  height: 170.0px;
  background-image: url("../../resources/scenarios/screens/9e3d0388-846f-4832-8c11-ae052226143c.png");
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n1967d6fc-8075-4555-8d22-b7afacd9b76b {
  position: absolute;
  left: 0.0px;
  top: 461.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n1967d6fc-8075-4555-8d22-b7afacd9b76b {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nea842850-d88a-400d-91dd-e60c05db5eb6 span#rtr-sc-ea842850-d88a-400d-91dd-e60c05db5eb6_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nea842850-d88a-400d-91dd-e60c05db5eb6 {
  position: absolute;
  left: 114.3203125px;
  top: 370.5px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nea842850-d88a-400d-91dd-e60c05db5eb6 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t5f577a94-4bbd-4f01-9d36-8ac98fbc4c09 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t5f577a94-4bbd-4f01-9d36-8ac98fbc4c09 .transitionNameContainer {
  left: 123.0px;
  top: 483.75px;
}
#t5f577a94-4bbd-4f01-9d36-8ac98fbc4c09.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t5f577a94-4bbd-4f01-9d36-8ac98fbc4c09.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ncc65d634-ad5c-4580-b641-ecfc980c1731 span#rtr-sc-cc65d634-ad5c-4580-b641-ecfc980c1731_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ncc65d634-ad5c-4580-b641-ecfc980c1731 {
  position: absolute;
  left: 324.0px;
  top: 276.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ncc65d634-ad5c-4580-b641-ecfc980c1731 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tb0499a7a-f362-4484-8dff-23d9f1f15255 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tb0499a7a-f362-4484-8dff-23d9f1f15255 .transitionNameContainer {
  left: 382.83984375px;
  top: 337.0px;
}
#tb0499a7a-f362-4484-8dff-23d9f1f15255.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#tb0499a7a-f362-4484-8dff-23d9f1f15255.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #neb36cab6-d886-43c0-828a-f0b187f3ba5b span#rtr-sc-eb36cab6-d886-43c0-828a-f0b187f3ba5b_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #neb36cab6-d886-43c0-828a-f0b187f3ba5b {
  position: absolute;
  left: 729.0px;
  top: 276.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #neb36cab6-d886-43c0-828a-f0b187f3ba5b {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t556ae924-bf43-4242-ae74-e9c61903a701 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t556ae924-bf43-4242-ae74-e9c61903a701 .transitionNameContainer {
  left: 697.33984375px;
  top: 336.0px;
}
#t556ae924-bf43-4242-ae74-e9c61903a701.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t556ae924-bf43-4242-ae74-e9c61903a701.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n40884ab0-7eba-4dda-9567-c64fd69d4c14 span#rtr-sc-40884ab0-7eba-4dda-9567-c64fd69d4c14_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n40884ab0-7eba-4dda-9567-c64fd69d4c14 {
  position: absolute;
  left: 524.3203125px;
  top: 0.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n40884ab0-7eba-4dda-9567-c64fd69d4c14 {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t9456ff14-376a-48ec-aa78-27e83f4df2d2 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t9456ff14-376a-48ec-aa78-27e83f4df2d2 .transitionNameContainer {
  left: 764.0px;
  top: 132.5px;
}
#t9456ff14-376a-48ec-aa78-27e83f4df2d2.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t9456ff14-376a-48ec-aa78-27e83f4df2d2.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1.0px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n0eb8e5e8-4220-415c-9fc2-0d4bb94603da span#rtr-sc-0eb8e5e8-4220-415c-9fc2-0d4bb94603da_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n0eb8e5e8-4220-415c-9fc2-0d4bb94603da {
  position: absolute;
  left: 520.9833984375px;
  top: 72.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n0eb8e5e8-4220-415c-9fc2-0d4bb94603da {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t79793b4b-1764-4a36-80df-caae21b76c29 .transitionName {
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t79793b4b-1764-4a36-80df-caae21b76c29 .transitionNameContainer {
  left: 337.5px;
  top: 161.5px;
}
#t79793b4b-1764-4a36-80df-caae21b76c29.transitionWrapper > svg > marker {
  fill: #AAABAC;
}
#t79793b4b-1764-4a36-80df-caae21b76c29.transitionWrapper > svg > polyline {
  stroke: #AAABAC;
  stroke-width: 1.0px;
}
#scenarioWrapper {
  width: 1472.0px;
  height: 656.0px;
}