#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 > #backgroundBox {
  position: absolute;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 > #alignmentBox {
  position: relative;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Bg {
  position: absolute;
  width: 1280.0px;
  min-height: 89.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Bg {
  box-shadow: none;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Bg > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Bg > .borderLayer {
  border-top-width: 3.0px;
  border-top-style: solid;
  border-top-color: #F8F9FA;
  border-right-width: 3.0px;
  border-right-style: solid;
  border-right-color: #F8F9FA;
  border-left-width: 3.0px;
  border-left-style: solid;
  border-left-color: #F8F9FA;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Bg .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Bg .valign {
  vertical-align: middle;
  text-align: center;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Bg span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Bg span#rtr-s-Bg_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_1 {
  position: absolute;
  width: 92.1686746987948px;
  min-height: 63.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_1 {
  box-shadow: none;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_1 span {
  color: #007BFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #007BFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_3 {
  position: absolute;
  width: 92.16867469879458px;
  min-height: 63.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_3 {
  box-shadow: none;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_3 span {
  color: #007BFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #007BFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_4 {
  position: absolute;
  width: 92.16867469879458px;
  min-height: 63.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_4 {
  box-shadow: none;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_4 span {
  color: #6C757D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #6C757D;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_2 {
  position: absolute;
  width: 470.99999999999994px;
  min-height: 271.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_2 {
  box-shadow: none;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Text_2 {
  box-shadow: none;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Text_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Input input::-webkit-input-placeholder {
  color: #999999;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Input input::-moz-placeholder {
  color: #999999;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Input input:-moz-placeholder {
  color: #999999;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Input input:-ms-input-placeholder {
  color: #999999;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Input {
  position: absolute;
  width: 376.0000000000001px;
  height: 38.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Input {
  box-shadow: none;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Input .valign {
  vertical-align: top;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Input input {
  color: #495057;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 17px;
  text-shadow: none;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Input > .backgroundLayer {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Input > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Input > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CED4DA;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CED4DA;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CED4DA;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CED4DA;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Input > .backgroundLayer {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Input .paddingLayer:first-child {
  padding-top: 8px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 14px;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Label {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Label {
  box-shadow: none;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Label .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Label .valign {
  vertical-align: middle;
  text-align: left;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Label span {
  color: #495057;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Label span#rtr-s-Label_0 {
  color: #495057;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Button_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Button_1 {
  box-shadow: none;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #007BFF;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Button_1 > .borderLayer {
  border-top-width: 3.0px;
  border-top-style: solid;
  border-top-color: #007BFF;
  border-right-width: 3.0px;
  border-right-style: solid;
  border-right-color: #007BFF;
  border-bottom-width: 3.0px;
  border-bottom-style: solid;
  border-bottom-color: #007BFF;
  border-left-width: 3.0px;
  border-left-style: solid;
  border-left-color: #007BFF;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Button_1 .paddingLayer:first-child {
  padding-top: 8px;
  padding-right: 14px;
  padding-bottom: 8px;
  padding-left: 14px;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Text_1 {
  box-shadow: none;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Text_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Text_1 span {
  color: #007BFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #007BFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-c8c36729-0afa-4e3a-bda2-aa5d9a846ba2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
