#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 > #backgroundBox {
  position: absolute;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 > #alignmentBox {
  position: relative;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_1 {
  position: absolute;
  width: 211.8727264404297px;
  min-height: 202.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_1 {
  box-shadow: none;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Contents {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Home {
  width: 680.0px;
  height: 150.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Home {
  box-shadow: none;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Home > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Home > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #E8ECEF;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Home td.layout {
  padding: 18px 0px 9px 0px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Home > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Home .verticalalign {
  vertical-align: top;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Paragraph_1 {
  width: 100.0%;
  min-height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Paragraph_1 {
  box-shadow: none;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 23px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 23px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Profile {
  width: 680.0px;
  height: 210.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Profile {
  box-shadow: none;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Profile > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Profile > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #E8ECEF;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Profile td.layout {
  padding: 18px 0px 9px 0px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Profile > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Profile .verticalalign {
  vertical-align: top;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Paragraph_2 {
  width: 100.0%;
  min-height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Paragraph_2 {
  box-shadow: none;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 23px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 23px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Contact {
  width: 1013.9999999999995px;
  height: 395.00000000000006px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Contact {
  box-shadow: none;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Contact > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Contact > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #E8ECEF;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Contact td.layout {
  padding: 18px 0px 9px 0px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Contact > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Contact .verticalalign {
  vertical-align: top;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Paragraph_3 {
  width: 100.0%;
  min-height: 161.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Paragraph_3 {
  box-shadow: none;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 23px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 23px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tabs_butts {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Buttons {
  width: 512.9647058823529px;
  height: 42.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Buttons {
  box-shadow: none;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Buttons td.layout {
  padding: 0px 0px 0px 0px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Buttons > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Buttons .verticalalign {
  vertical-align: top;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_3 {
  position: absolute;
  width: 77.0px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_3 {
  box-shadow: none;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #E8ECEF;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_3 span {
  color: #007BFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_3 span#rtr-s-Tab_3_0 {
  color: #007BFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_2 {
  position: absolute;
  width: 77.0px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_2 {
  box-shadow: none;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #E8ECEF;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_2 span {
  color: #007BFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_2 span#rtr-s-Tab_2_0 {
  color: #007BFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_1 {
  position: absolute;
  width: 75.0px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_1 {
  box-shadow: none;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_1 > .backgroundLayer {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #E8ECEF;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #E8ECEF;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #E8ECEF;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_1 > .backgroundLayer {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_1 .paddingLayer:first-child {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Tab_1 span#rtr-s-Tab_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Bg {
  position: absolute;
  width: 211.87272727272733px;
  min-height: 455.99997001316666px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Bg {
  box-shadow: none;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Bg > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Bg > .borderLayer {
  border-top-width: 3.0px;
  border-top-style: solid;
  border-top-color: #F8F9FA;
  border-bottom-width: 3.0px;
  border-bottom-style: solid;
  border-bottom-color: #F8F9FA;
  border-left-width: 3.0px;
  border-left-style: solid;
  border-left-color: #F8F9FA;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Bg .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Bg .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Bg span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Bg span#rtr-s-Bg_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_5 {
  position: absolute;
  width: 211.87272727272727px;
  min-height: 68.21738543735898px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_5 {
  box-shadow: none;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_5 span {
  color: #007BFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #007BFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_6 {
  position: absolute;
  width: 211.87272727272727px;
  min-height: 68.21738543735876px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_6 {
  box-shadow: none;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_6 span {
  color: #007BFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #007BFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_7 {
  position: absolute;
  width: 211.87272727272727px;
  min-height: 68.21738543735859px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_7 {
  box-shadow: none;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_7 span {
  color: #007BFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #007BFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-d5035b0d-1d47-4acf-beca-cb92fce32f51 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
